<div class="container">
  <div class="form-holder">
    <form [formGroup]='noteForm' (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" formControlName="title" class="form-control">
        <p *ngIf="f.title.invalid && f.title.errors.required && f.title.touched">Required</p>
      </div>
      <div class="mb-3">
        <label class="form-label">Priority</label>
        <input type="text" class="form-control" formControlName='priority'>
        <p *ngIf="f.priority.invalid && f.priority.errors.required && f.priority.touched">Required</p>
      </div>
      <div class="mb-3">
        <label class="form-label">Tags</label>
        <input type="text" class="form-control" formControlName='tags'>
        <p *ngIf="f.tags.invalid && f.tags.errors.required && f.tags.touched">Required</p>
      </div>
      <div class="mb-3">
        <label class="form-label">Content</label>
        <input type="text" class="form-control" formControlName='content'>
        <p *ngIf="f.content.invalid && f.content.errors.required && f.content.touched">Required</p>
      </div>
      <div class="mb-3">
        <label class="form-label">Category</label>
        <input type="text" class="form-control" formControlName='category'>
        <p *ngIf="f.category.invalid && f.category.errors.required && f.category.touched">Required</p>
      </div>
      <button class="w-100 btn btn-primary">Submit</button>
    </form>
  </div>
</div>
