/* Global styles in this file */
@font-face {
  font-family: "Caesar-Dressing";
  src: url("./assets/fonts/Caesar_Dressing/CaesarDressing-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Merienda-var";
  src: url("./assets/fonts/Merienda/Merienda-VariableFont_wght.ttf") format("truetype");
}

* {
  font-family: "Merienda-var";
}
