/* Global styles in this file */
@font-face {
  font-family: "Caesar-Dressing";
  src: url("./assets/fonts/Caesar_Dressing/CaesarDressing-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "jost-var";
  src: url("./assets/fonts/Jost/Jost-VariableFont_wght.ttf") format("truetype");
}

* {
  font-family: "jost-var";
  font-weight: 400;
  font-size: 1rem;
}
