<nav class="navbar shadow-sm navbar-expand-lg bg-body-navbar">
  <div class="container">
    <a class="navbar-brand" *ngIf="isLogged" (click)="navigateToHome()"><img
        src="../../../assets/favicon/favicon-32x32.png" alt="logo"> NOTES APP</a>
    <a class="navbar-brand" *ngIf="!isLogged" (click)="navigateToLanding()"><img
        src="../../../assets/favicon/favicon-32x32.png" alt="logo"> NOTES APP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"
      [ngStyle]="isLogged ? {'justify-content': ''} : {'justify-content': 'flex-end'}">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0" *ngIf="isLogged">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isHomeActive}" (click)="navigateToHome()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{'active': isCreateActive}" (click)="navigateToCreate()">Create Note</a>
        </li>
      </ul>
      <div class="nav-buttons flex-lg-row flex-column align-items-start"
        [ngStyle]="isLogged ? { 'display': 'none' } : { 'display': 'flex' }">
        <button class="btn-login" (click)="loginClicked()"><fa-icon [icon]="rightToBracket"></fa-icon> Log In</button>
        <button class="btn-signup" (click)="signupClicked()"><fa-icon [icon]="userPlus"></fa-icon> Sign Up</button>
      </div>
      <div class="nav-buttons flex-lg-row flex-column align-items-start"
        [ngStyle]="isLogged ? { 'display': 'flex' } : { 'display': 'none' }">
        <button class="btn-logout" (click)="logoutClicked()"><fa-icon [icon]="rightFromBracket"></fa-icon> Log
          Out</button>
      </div>
    </div>
  </div>
</nav>


<!------------------------------------------------------------------------------------------------------------------------------>
