// Define Color Variables
$light-brown: #F8EEE2;
$dark-brown: #4D2114;
$darker-brown: #3a150a;
$light-hover: #e9cdb2;


@font-face {
  font-family: "Caesar-Dressing";
  src: url("../../../assets/fonts/Caesar_Dressing/CaesarDressing-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Merienda-var";
  src: url("../../../assets/fonts/Merienda/Merienda-VariableFont_wght.ttf") format("truetype");
}

nav {
  box-shadow: 3px 3px 10px #EEE;
}

.navbar-brand {
  font-weight: bold;
  font-size: 22px;
  padding: 10px;
  font-family: "Caesar-Dressing";
}

nav ul li {
  transition: .2s linear;
  cursor: pointer;
  font-family: "Merienda-var";
  font-weight: 500;
}

.loginButton {
  border: 1px solid $light-hover;
  background-color: $light-brown;

  &:hover {
    background-color: $light-hover;

  }
}

.signUpButton {
  background-color: $dark-brown;
  color: #FFF;

  &:hover {
    background-color: $darker-brown;

  }
}
