// This file contains the styles for the NavBar component.
// Define Color Variables
$light-brown: #F8EEE2;
$dark-brown: #FF6B00;
$darker-brown: #4a3629;
$light-hover: #e9cdb2;
$nav-bg: #f5f2f1;


.bg-body-navbar {
  background-color: $nav-bg;
}

.navbar {

  font-family: "Merienda-var";

  a {
    cursor: pointer;
    color: $dark-brown;



    &:hover {
      color: $darker-brown;
    }
  }

  .navbar-brand {
    font-family: "Caesar-Dressing";
    color: $darker-brown;
  }

  .active {
    color: $darker-brown;
    font-weight: 600;
  }


  .nav-buttons {
    display: flex;
    gap: 1rem;

    button {
      padding: 0.5rem 1.5rem;
      border-radius: 4px;
      font-weight: 500;
      cursor: pointer;
    }

    .btn-signup {
      background-color: $dark-brown;
      color: white;
      border: none;

      &:hover {
        background-color: $darker-brown;
        border: 1px solid $darker-brown;
      }
    }

    .btn-login {
      background-color: transparent;
      border: 1px solid $dark-brown;
      color: $dark-brown;

      &:hover {
        background-color: $light-hover;
        border: 1px solid $light-hover;
      }
    }

    .btn-logout {
      background-color: red;
      border: 1px solid red;
      color: white;

      &:hover {
        background-color: darkred;
        border: 1px solid darkred;
      }
    }
  }
}
