<nav class="nav-container">
  <div class="nav-logo">
    <a (click)="navigateToHome()"><img src="assets/images/Frame 3.png" alt="Noted Logo" class="logo"></a>
  </div>
  <div class="nav-links">
    <a (click)="navigateToHome()">All Notes</a>
    <a (click)="navigateToCreate()">Create Note</a>
    <a href="#about">About</a>
  </div>
  <div class="nav-buttons">
    <button class="btn-signup" (click)="signupClicked()">Sign Up</button>
    <button class="btn-login" (click)="loginClicked()">Log In</button>
  </div>
</nav>

